body{
  font: 20px Arial, sans-serif;
 
}
.navbar{
  background-color: #800000;
}
.corouselImg{
  height: 500px;
  object-fit: cover;
}

.quem-somos{
  background-color:#000000;
  color: #FFF;
}
.align{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.margin{
 padding-bottom:50px;
 padding-top:10px;
}

.image{
  width: 800px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgb(89, 87, 87);
  object-fit: cover;
}
.image:hover{
  opacity: 0.5;
}
.parceiros{
  background-color:#800000;
}
.imgPaceiros{
  width: 150px;
  height: 150px;
}
#servicos{
  background-color:#000000;
}
.imgServicos{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.imgServicos:hover{
  opacity: 0.5;
}
.bg-footer{
  background-color: #800000;
  height: 100%;
  color: #FFF;
}
.containerNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.containerNav nav ul{
  list-style: none;

}
.containerNav nav ul li a{
 color: #FFF;

}
.imgContato{
  width: 48px;
  height: 48px;
}
.imgLogo{
  width: 100px;
  height: 70px;
}
.imgContato:hover{
  background: #800000;
  opacity: 0.5;
}

